html,
body,
#root {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.topRightProfile {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
}

main {
  display: flex;
  flex-grow: 1;
}

.left,
.right {
  flex: 1;
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}

.leftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* space between elements */
}

.tasks label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

.topRightIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
